@import "colours";

.backdiv.one{
    position: absolute;
    left: -5.25vw;
    width: 34.5vw;
    height: 86.5vh;
    border-radius: 0 0 18vw 16.5vw;
    z-index: -1;
    background: rgb(136,56,255);
    background: linear-gradient(18deg, rgba(136,56,255,1) 6%, rgba(233,66,255,1) 100%); 
    //display: none;
}

.backdiv.two{
    position: absolute;
    bottom: 0;
    right: -12vw;
    width: 34.5vw;
    height: 86.5vh;
    border-radius: 18vw 16.5vw 0 0;
    z-index: -1;
    background-color: $Light-Grayish-Violet;
}

@media screen and ( max-width: 700px )
{
    .backdiv.one{
        $offsetX: 50vw;
        position: absolute;
        left: -$offsetX;
        width: $offsetX * 2;
        height: 31.3rem;
        border-radius: 0 0 61vw 16.5vw;
        z-index: -1;
        background: rgb(136,56,255);
        background: linear-gradient(18deg, rgba(136,56,255,1) 6%, rgba(233,66,255,1) 100%); 
        //display: none;
    }
    .backdiv.two{
        display: none;
    }
}